body { 
	padding: 20px 40px;
	font-family: sans-serif;
}

#wrap {
	margin: 0 auto;
	width: 800px;
	padding: 30px;
	border: 1px solid #f0f0f0;
}

input {
	padding: 10px;
	margin: 10px 0;
}

button {
	-webkit-appearance: none;
	border: 1px solid #aaa;
	margin: 0 0 0 10px;
	padding: 10px;
}